@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  background-color: #ffdfee;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
}

a {
  color: #FDFCFB;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 156, 172);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FDFCFB;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.input {
  width: calc(100% - 50px);
  height: 44px;
  padding-inline: 15px;
  color: #c00c39;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-bottom: 10px;
}
.input:hover {
  border-color: #c00c39;
}
.input:focus {
  outline: none;
  background-color: #FDFCFB;
  color: #c00c39;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header {
  position: relative;
  display: flex;
  z-index: 2;
  background-color: transparent;
  color: #FDFCFB;
  width: 100%;
  height: 70px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header .header-menu-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header .header-menu-list .header-menu-item {
  cursor: default;
}
.header .header-menu-list .header-menu-item a {
  cursor: pointer;
}
.header .header-menu-list .header-menu-button {
  border: none;
  padding: 5px 10px;
  width: 63px;
  height: 26px;
  background: #c7d9e5;
}
.header .header-menu-list .header-menu-button:hover {
  background-color: #FDFCFB;
}
.header .header-menu-list .header-menu-cart {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 200px;
  }
  .header .header-menu-list {
    flex-direction: column;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-inline: 80px;
  background-color: #2f4157;
  color: #fff;
}
.footer .footer-container-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer .footer-container-up .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #F4EFEB;
}
.footer .footer-container-up .footer-menu .footer-menu-item {
  cursor: default;
}
.footer .footer-container-up .footer-menu .footer-menu-item a {
  cursor: pointer;
}
.footer .footer-container-up .footer-menu .footer-menu-item:hover {
  cursor: pointer;
  color: #ffdfee;
}
.footer .footer-container-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
}
.footer .footer-social-links img {
  padding: 0 !important;
  width: 40px !important;
  height: 40px !important;
}
.footer .footer-hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 20px;
    padding-inline: 30px;
  }
}
@media screen and (max-width: 550px) {
  .footer-container-down {
    flex-direction: column !important;
    margin-top: 10px;
    padding-bottom: 10px !important;
  }
  .footer-container-down .footer-empty {
    display: none;
  }
  .footer-logo {
    display: none;
  }
}
.main {
  position: relative;
  display: flex;
  top: -70px;
  flex-direction: column;
  align-items: center;
  height: 1200px;
  gap: 310px;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/src/assets/Why-Focal-Length-in-Food-Photogr.jpg") no-repeat center;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(47, 65, 87, 0.37);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main .main-logo {
  padding-top: 50px;
  padding-bottom: 250px;
  width: 40%;
}
.main .main-button {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #2f4157;
  border: 2px solid #2f4157;
  width: 154px;
  height: 53px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.main .main-button:hover {
  background-color: #2f4157;
  color: #fff;
}
.main .main-description {
  height: 200px;
}

@media screen and (max-width: 1800px) {
  .main-logo {
    padding-bottom: 10px !important;
  }
  .main-button {
    margin-top: -250px;
  }
}
@media screen and (max-width: 1220px) {
  .main {
    gap: 100px;
  }
  .main .main-logo {
    margin-top: 20px;
  }
  .main .main-button {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .main {
    top: -200px;
  }
  .main .main-logo {
    margin-top: 210px;
  }
}
.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDFCFB;
  padding-bottom: 40px;
}
.catalog-container .catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 512px;
}
.catalog-container .catalog-list .catalog-list-title {
  font-family: "Bodoni Moda", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 18px;
  text-align: center;
  color: #2f4157;
}
.catalog-container .catalog-list .catalog-list-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 39px;
  margin-bottom: 42px;
}
.catalog-container .catalog-list .catalog-list-items .catalog-list-item {
  position: relative;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid transparent;
  color: #000;
  cursor: pointer;
}
.catalog-container .catalog-list .catalog-list-items .active {
  border-bottom: 2px solid #c00c39;
}
.catalog-container .catalog-list .catalog-list-items .catalog-list-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6%;
  width: 100%;
  height: 2px;
  background-color: #c00c39;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
}
.catalog-container .catalog-list .catalog-list-items .catalog-list-item:hover::after {
  transform: translateX(-50%) scaleX(1);
  cursor: pointer;
}
.catalog-container .catalog-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 32px;
  max-width: 1100px;
}
.catalog-container .catalog-cards-container .catalog-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 32px;
  row-gap: 60px;
  width: 100%;
}
.catalog-container .catalog-cards-container .catalog-cards-top {
  position: relative;
}
.catalog-container .catalog-top-seller-title {
  position: absolute;
  z-index: 2;
  top: -38px;
  left: 42%;
  font-family: "Bodoni Moda", sans-serif;
  text-align: left;
  color: #c00c39;
  font-weight: bold;
  font-size: 20px;
  align-self: end;
}

@media screen and (max-width: 1150px) {
  .catalog-cards-container {
    padding: 15px;
    column-gap: 15px !important;
    row-gap: 30px !important;
  }
  .catalog-cards-container .catalog-cards {
    column-gap: 15px !important;
    row-gap: 30px !important;
  }
}
@media (max-width: 768px) {
  .catalog-container {
    margin-top: -170px;
  }
  .catalog-cards-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .catalog-cards-container .catalog-cards-top {
    margin-top: 40px;
  }
}
@media (max-width: 550px) {
  .catalog-list {
    width: 100% !important;
  }
  .catalog-list .catalog-list-items {
    flex-direction: column;
  }
  .catalog-cards-container {
    margin-top: 70px;
  }
  .catalog-cards-container .catalog-list-item .active {
    width: 60% !important;
  }
}
.cake-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.cake-card-container:hover {
  transform: scale(1.1);
  z-index: 2;
  background-color: #ffdfee;
}
.cake-card-container .cake-card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #577c8e;
  padding: 2px;
}

.location-container {
  background-color: #f4efeb;
  padding-bottom: 80px;
}
.location-container .location-title {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  padding-top: 40px;
  color: #2f4157;
}
.location-container .location-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.location-container .location-map-container .location-info-title {
  font-weight: 600;
  font-size: 20px;
  color: #2f4157;
}
.location-container .location-map-container .location-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location-container .location-map-container .location-info-container .location-info-contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-title {
  font-weight: 600;
  font-size: 20px;
  color: #2f4157;
  text-align: center;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list .location-info-contacts-phone a {
  font-weight: 600;
  font-size: 16px;
  color: #c00c39;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list .location-info-contacts-phone a:hover {
  font-size: 18px;
}
.location-container .location-map-container .location-map {
  width: 600px;
  height: 530px;
}
.location-container .location-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}

@media screen and (max-width: 1250px) {
  .location-container {
    padding: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .location-container {
    padding: 15px;
  }
  .location-container .location-map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .location-container .location-map-container .location-info-title {
    text-align: start !important;
  }
}
@media screen and (max-width: 600px) {
  .location-map {
    padding: 20px;
    width: 100% !important;
    height: 300px !important;
  }
  .location-title {
    font-size: 24px !important;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal-container .modal-content {
  position: relative;
  background-color: #ffdfee;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-container .modal-content .modal-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #2f4157;
  font-weight: 600;
}
.modal-container .modal-content .modal-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-container .modal-content .modal-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.modal-container .modal-content .modal-form {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 10px;
}
.modal-container .modal-content .modal-form select {
  width: 97%;
}
.modal-container .modal-content .modal-form textarea {
  font-size: 16px;
  resize: none;
}
.modal-container .modal-content .modal-form .modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.modal-container .modal-content .modal-button {
  width: 100%;
  height: 44px;
  margin-bottom: 10px;
  color: #FDFCFB;
  background-color: #2f4157;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 10px;
  margin-top: 20px;
}
.modal-container .modal-content .modal-button:hover {
  background-color: #c00c39;
}
.modal-container .modal-content .modal-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FDFCFB;
}
.modal-container .modal-content .modal-button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .modal-container {
    position: fixed;
    width: 100% !important;
  }
  .modal-container .modal-content {
    border-radius: 30px !important;
    width: 350px !important;
    height: 400px !important;
  }
}
.admin-login-container {
  position: relative;
  background: url("/src/assets/admin-background.jpg") no-repeat center center fixed;
}
.admin-login-container .admin-header {
  position: relative;
  top: -70px;
  height: 70px;
  background: url("/src/assets/admin-background.jpg") no-repeat center center fixed;
}
.admin-login-container .admin-login-wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.admin-login-container .loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  background-color: rgba(212, 154, 219, 0.6784313725);
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  margin-inline: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.459);
}
.admin-login-container .loginForm .loginButton {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 150px;
  background-color: #ef9ef1;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.admin-login-container .loginForm .loginButton:hover {
  background-color: #ff006a;
}
.admin-login-container .inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.admin-login-container .inputField:focus {
  border-color: #ff0037;
  outline: none;
}
.admin-login-container .passwordToggle {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  top: 147px;
  right: 30px;
  font-size: 22px;
  color: rgba(98, 98, 99, 0.6784313725);
  width: 100px;
}
@media (max-width: 768px) {
  .admin-login-container .admin-header {
    top: -200px;
    height: 200px;
  }
  .admin-login-container .admin-login-wrapper {
    height: auto;
  }
  .admin-login-container .loginForm {
    margin-top: 10px;
    height: 250px;
    margin-bottom: 200px;
  }
}

.not-found-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffdfee;
  color: #2f4157;
  padding: 20px;
  text-align: center;
}
.not-found-container .not-found-header-color {
  position: absolute;
  top: -70px;
  background-color: #2f4157;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.not-found-container .not-found-hr {
  border: none;
  border-top: 2px solid #2f4157;
  width: 60%;
  margin: 20px 0;
}
.not-found-container h1 {
  font-family: "Bodoni Moda", sans-serif;
  font-size: 4rem;
  margin-bottom: 15px;
  color: #2f4157;
}
.not-found-container p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 25px;
  line-height: 1.6;
}
.not-found-container a {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #c00c39;
  background-color: #FDFCFB;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: background-color 0.2s;
}
.not-found-container a:hover {
  background-color: #2f4157;
  color: #FDFCFB;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .not-found-header-color {
    top: -200px !important;
    height: 200px !important;
  }
  h1 {
    font-size: 3rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
