@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  background-color: #ffdfee;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
}

a {
  color: #FDFCFB;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 156, 172);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FDFCFB;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

/* Firefox */
.header {
  position: relative;
  display: flex;
  z-index: 2;
  background-color: transparent;
  color: #FDFCFB;
  width: 100%;
  height: 70px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header .header-menu-list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header .header-menu-list .header-menu-item-language {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.header .header-menu-list .header-menu-button {
  border: none;
  padding: 5px 10px;
  width: 63px;
  height: 26px;
  background: #c7d9e5;
}
.header .header-menu-list .header-menu-button:hover {
  background-color: #FDFCFB;
}

@media screen and (max-width: 768px) {
  .header {
    height: 200px;
  }
  .header .header-menu-list {
    flex-direction: column;
  }
}
.footer {
  background-color: #2F4157;
  color: #fff;
}

.main {
  position: relative;
  display: flex;
  top: -70px;
  flex-direction: column;
  align-items: center;
  height: 1200px;
  gap: 310px;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/src/assets/Why-Focal-Length-in-Food-Photogr.jpg") no-repeat center;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: rgba(47, 65, 87, 0.37);
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main .main-button {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #2f4157;
  border: 2px solid #2f4157;
  width: 154px;
  height: 53px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.main .main-button:hover {
  background-color: #2f4157;
  color: #fff;
}
.main .main-description {
  height: 200px;
}

@media screen and (max-width: 1220px) {
  .main {
    gap: 100px;
  }
  .main .main-logo {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    top: -200px;
  }
  .main .main-logo {
    margin-top: 210px;
  }
}
.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FDFCFB;
  padding-bottom: 40px;
}
.catalog-container .catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 512px;
}
.catalog-container .catalog-list .catalog-list-title {
  font-family: "Bodoni Moda", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 18px;
  text-align: center;
  color: #2f4157;
}
.catalog-container .catalog-list .catalog-list-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 39px;
  margin-bottom: 42px;
}
.catalog-container .catalog-list .catalog-list-items .catalog-list-item {
  position: relative;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid transparent;
  color: #000;
  cursor: pointer;
}
.catalog-container .catalog-list .catalog-list-items .active {
  border-bottom: 2px solid #c00c39;
}
.catalog-container .catalog-list .catalog-list-items .catalog-list-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6%;
  width: 100%;
  height: 2px;
  background-color: #c00c39;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
}
.catalog-container .catalog-list .catalog-list-items .catalog-list-item:hover::after {
  transform: translateX(-50%) scaleX(1);
  cursor: pointer;
}
.catalog-container .catalog-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 32px;
  max-width: 1100px;
}
.catalog-container .catalog-cards-container .catalog-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 32px;
  row-gap: 60px;
  width: 100%;
}
.catalog-container .catalog-cards-container .catalog-cards-top {
  position: relative;
}
.catalog-container .catalog-top-seller-title {
  position: absolute;
  z-index: 2;
  top: -38px;
  left: 42%;
  font-family: "Bodoni Moda", sans-serif;
  text-align: left;
  color: #c00c39;
  font-weight: bold;
  font-size: 20px;
  align-self: end;
}

@media screen and (max-width: 1150px) {
  .catalog-cards-container {
    padding: 15px;
    column-gap: 15px !important;
    row-gap: 30px !important;
  }
  .catalog-cards-container .catalog-cards {
    column-gap: 15px !important;
    row-gap: 30px !important;
  }
}
@media (max-width: 768px) {
  .catalog-container {
    margin-top: -170px;
  }
  .catalog-cards-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .catalog-cards-container .catalog-cards-top {
    margin-top: 40px;
  }
}
@media (max-width: 550px) {
  .catalog-list {
    width: 100% !important;
  }
  .catalog-list .catalog-list-items {
    flex-direction: column;
  }
  .catalog-cards-container {
    margin-top: 70px;
  }
  .catalog-cards-container .catalog-list-item .active {
    width: 60% !important;
  }
}
.cake-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.cake-card-container:hover {
  transform: scale(1.1);
  z-index: 2;
  background-color: #f3f3f3;
}
.cake-card-container .cake-card-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #577c8e;
  padding: 2px;
}

.location-container {
  background-color: #f4efeb;
  padding-bottom: 80px;
}
.location-container .location-title {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  padding-top: 40px;
  color: #2f4157;
}
.location-container .location-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.location-container .location-map-container .location-info-title {
  font-weight: 600;
  font-size: 20px;
  color: #2f4157;
}
.location-container .location-map-container .location-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-title {
  font-weight: 600;
  font-size: 20px;
  color: #2f4157;
  text-align: center;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list .location-info-contacts-phone a {
  font-weight: 600;
  font-size: 16px;
  color: #c00c39;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list .location-info-contacts-phone a:hover {
  font-size: 18px;
}
.location-container .location-map-container .location-map {
  width: 600px;
  height: 530px;
}
.location-container .location-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}

@media screen and (max-width: 1250px) {
  .location-container {
    padding: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .location-container {
    padding: 15px;
  }
  .location-container .location-map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .location-container .location-map-container .location-info-title {
    text-align: start !important;
  }
}
@media screen and (max-width: 600px) {
  .location-map {
    padding: 20px;
    width: 100% !important;
    height: 300px !important;
  }
  .location-title {
    font-size: 24px !important;
  }
}

/*# sourceMappingURL=style.css.map */
