@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "inglobal";
  src: url("/src/Fonts/inglobal.ttf") format("truetype");
}
@font-face {
  font-family: "inglobal-bold";
  src: url("/src/Fonts/inglobalb.ttf") format("truetype");
}
body {
  font-family: "inglobal", sans-serif;
  font-weight: 300;
  line-height: 1.75;
  color: #412540;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #412540;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #c00c39;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: 0.2s;
  font-family: "inglobal", sans-serif;
}

a {
  color: #412540;
  text-decoration: none;
}
a:hover {
  color: #c00c39;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inglobal-bold", sans-serif;
  color: #412540;
}

img {
  display: block;
  max-width: 100%;
}

.save-button {
  border: none;
  margin-right: 10px;
  min-width: 80px;
  background-color: #2f4157;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FDFCFB;
  cursor: pointer;
}
.save-button:hover {
  background-color: #c00c39;
}
.save-button:disabled {
  background-color: gray;
  color: rgba(189, 189, 189, 0.781);
}

.cancel-button {
  border: none;
  background-color: #c00c39;
  border-radius: 30px;
  padding: 5px 10px;
  color: #FDFCFB;
  cursor: pointer;
}
.cancel-button:hover {
  background-color: #2f4157;
}

.more-button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  color: #412540;
  border: 2px solid #fbddec;
  border-radius: 23px;
  background-color: transparent;
}
.more-button:hover {
  cursor: pointer;
  border-color: #412540;
}

.order-button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  color: #412540;
  border: 2px solid #fbddec;
  border-radius: 23px;
  background-color: #fbddec;
}
.order-button:hover {
  cursor: pointer;
  background-color: #412540;
  color: #fff;
  border-color: #412540;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.input {
  width: calc(100% - 50px);
  height: 44px;
  padding-inline: 15px;
  color: #c00c39;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-bottom: 10px;
}
.input:hover {
  border-color: #c00c39;
}
.input:focus {
  outline: none;
  background-color: #FDFCFB;
  color: #c00c39;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.active {
  border-bottom: 1px solid #c00c39 !important;
}

.page-builder-bottom-info-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}
.page-builder-bottom-info-list .page-builder-bottom-info-list-item:not(:first-child) {
  position: relative;
}
.page-builder-bottom-info-list .page-builder-bottom-info-list-item:not(:first-child):before {
  position: absolute;
  content: "";
  top: 30%;
  left: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #412540;
}

.mini-container {
  width: 264px;
  height: 174px;
  padding-inline: 15px;
  padding-block: 20px;
  border: 2px solid #fef3f8;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 120%;
}
.mini-container h4 {
  font-size: 16px;
  padding-bottom: 12px;
}

.mini-container-fill {
  width: 267px;
  height: 141px;
  padding: 20px;
  background-color: #fef3f8;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 120%;
}
.mini-container-fill h4 {
  font-size: 16px;
  padding-bottom: 12px;
}

@keyframes underline {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .mini-container {
    width: 100%;
  }
  .mini-container-fill {
    width: 100%;
  }
}
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: transparent;
  color: #FDFCFB;
  width: 100%;
  height: 111px;
  padding-inline: 60px;
  box-sizing: border-box;
}
.header .header-menu-list {
  display: flex;
  flex-direction: column;
}
.header .header-menu-list .header-menu-item {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #412540;
}
.header .header-menu-list .header-menu-item a {
  cursor: pointer;
  color: #412540;
}
.header .header-menu-list .header-menu-item a:hover {
  color: #c00c39;
}
.header .header-logo {
  cursor: pointer;
  width: 9.45em;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .header {
    height: 200px;
    justify-content: center;
  }
  .header .header-menu-list {
    display: none;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-inline: 80px;
  background-color: #2f4157;
  color: #fff;
}
.footer .footer-container-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer .footer-container-up .footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #F4EFEB;
}
.footer .footer-container-up .footer-menu .footer-menu-item {
  cursor: default;
}
.footer .footer-container-up .footer-menu .footer-menu-item a {
  cursor: pointer;
}
.footer .footer-container-up .footer-menu .footer-menu-item:hover {
  cursor: pointer;
  color: #fef3f8;
}
.footer .footer-container-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
}
.footer .footer-social-links img {
  padding: 0 !important;
  width: 40px !important;
  height: 40px !important;
}
.footer .footer-hr {
  width: 100%;
  height: 1px;
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 20px;
    padding-inline: 30px;
  }
}
@media screen and (max-width: 550px) {
  .footer-container-down {
    flex-direction: column !important;
    margin-top: 10px;
    padding-bottom: 10px !important;
  }
  .footer-container-down .footer-empty {
    display: none;
  }
  .footer-logo {
    display: none;
  }
}
.main {
  position: relative;
  display: flex;
  top: -111px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 749px;
  padding-inline: 60px;
  background: url("/src/assets/main-background.jpg") no-repeat center;
  background-size: cover;
}
.main .main-title-container {
  display: flex;
  flex-direction: column;
  width: 760px;
  font-family: "inglobal-bold", sans-serif;
  margin-top: -80px;
}
.main .main-title-container .main-title {
  font-size: clamp(17px, 2.74vw, 35px);
  text-transform: uppercase;
  color: #412540;
}
.main .main-title-container .main-description {
  font-size: clamp(27px, 4.3vw, 55px);
  color: #412540;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
}
.main .main-title-container .main-description-text {
  font-family: "inglobal", sans-serif;
  font-size: clamp(16px, 1.24vw, 18px);
}

@media screen and (max-width: 1800px) {
  .main-logo {
    padding-bottom: 10px !important;
  }
  .main-button {
    margin-top: -250px;
  }
}
@media screen and (max-width: 1280px) {
  .main .main-title-container {
    display: flex;
    flex-direction: column;
    width: 520px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    top: -200px;
    align-items: center;
  }
  .main .main-logo {
    margin-top: 210px;
  }
  .main .main-title-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main .main-description {
    text-align: center;
    align-items: center;
  }
  .main .main-description-text {
    text-align: center;
  }
}
.catalog-container {
  position: relative;
  top: -141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef3f8;
  padding-top: 60px;
  padding-bottom: 70px;
  padding-inline: 60px;
}
.catalog-container .catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 472px;
}
.catalog-container .catalog-list .catalog-list-title {
  font-family: "inglobal-bold", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 2.35vw, 30px);
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #412540;
  margin-bottom: 60px;
}
.catalog-container .catalog-cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.catalog-container .catalog-cards-container .catalog-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 32px;
  row-gap: 30px;
  width: 100%;
}
.catalog-container .catalog-cards-container .catalog-cards-top {
  position: relative;
}
.catalog-container .catalog-top-seller-title {
  position: absolute;
  z-index: 2;
  top: -38px;
  left: 42%;
  font-family: "Bodoni Moda", sans-serif;
  text-align: left;
  color: #c00c39;
  font-weight: bold;
  font-size: 20px;
  align-self: end;
}

@media screen and (max-width: 1200px) {
  .catalog-container {
    padding-inline: 30px !important;
  }
  .catalog-container .catalog-cards-container {
    padding: 15px;
    column-gap: 15px !important;
    row-gap: 15px !important;
  }
  .catalog-container .catalog-cards-container .catalog-cards {
    column-gap: 15px !important;
    row-gap: 15px !important;
  }
}
@media screen and (max-width: 1100px) {
  .catalog-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 768px) {
  .catalog-container {
    margin-top: -170px;
  }
  .catalog-container .catalog-list-title {
    margin-bottom: 30px !important;
  }
  .catalog-cards-container {
    display: flex;
    flex-direction: column;
  }
  .catalog-cards-container .catalog-cards-top {
    margin-top: 40px;
  }
}
@media (max-width: 550px) {
  .catalog-list {
    width: 100% !important;
  }
  .catalog-list .catalog-list-items {
    flex-direction: column;
  }
  .catalog-cards-container .catalog-list-item .active {
    width: 60% !important;
  }
}
.cake-card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 565px;
  width: 100%;
  height: 355px;
  background-color: #FDFCFB;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.cake-card-container:hover {
  transform: scale(1.05);
  z-index: 2;
}
.cake-card-container img {
  width: 50%;
  object-fit: cover;
}
.cake-card-container .cake-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 29px;
  padding-inline: 10px;
  box-sizing: border-box;
}
.cake-card-container .cake-card-info .cake-card-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #412540;
}
.cake-card-container .cake-card-info .cake-card-description {
  width: 249px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.1;
  text-align: center;
  color: #412540;
}
.cake-card-container .cake-card-info .cake-card-price {
  font-family: "inglobal-bold", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #412540;
}
.cake-card-container .cake-card-info .cake-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 28px;
}

@media screen and (max-width: 600px) {
  .cake-card-container {
    flex-direction: column;
    height: 100%;
  }
  .cake-card-container:hover {
    transform: none;
  }
  .cake-card-container img {
    width: 100%;
    height: 50%;
  }
  .cake-card-container .cake-card-price {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 400px) {
  .cake-card-container {
    flex-direction: column;
    height: 100%;
  }
  .cake-card-container img {
    width: 100%;
    height: 200px;
  }
  .cake-card-container .cake-card-description {
    padding-inline: 5px !important;
    width: 100% !important;
  }
}
.location-container {
  position: relative;
  background-color: #fff;
  padding-bottom: 80px;
}
.location-container .location-header {
  position: absolute;
  top: -111px;
  background-color: #fef3f8;
  width: 100%;
  height: 111px;
  border-radius: 0 0 20px 20px;
  height: 111px;
}
.location-container .location-title {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  padding-top: 40px;
}
.location-container .location-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.location-container .location-map-container .location-info-title {
  font-weight: 600;
  font-size: 20px;
}
.location-container .location-map-container .location-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location-container .location-map-container .location-info-container .location-info-contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list .location-info-contacts-phone a {
  display: flex;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
}
.location-container .location-map-container .location-info-container .location-info-contacts .location-info-contacts-list .location-info-contacts-phone a:hover {
  font-size: 18px;
}
.location-container .location-map-container .location-map {
  width: 600px;
  height: 530px;
}
.location-container .location-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1250px) {
  .location-container {
    padding: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .location-container {
    padding: 15px;
  }
  .location-container .location-map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .location-container .location-map-container .location-info-title {
    text-align: start !important;
  }
}
@media screen and (max-width: 600px) {
  .location-map {
    padding: 20px;
    width: 100% !important;
    height: 300px !important;
  }
  .location-title {
    font-size: 24px !important;
  }
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal-container .modal-content {
  position: relative;
  background-color: #fef3f8;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-container .modal-content .modal-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #2f4157;
  font-weight: 600;
}
.modal-container .modal-content .modal-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-container .modal-content .modal-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.modal-container .modal-content .modal-form {
  display: flex;
  width: 70%;
  flex-direction: column;
  gap: 10px;
}
.modal-container .modal-content .modal-form select {
  width: 97%;
}
.modal-container .modal-content .modal-form textarea {
  font-size: 16px;
  resize: none;
}
.modal-container .modal-content .modal-form .modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.modal-container .modal-content .modal-button {
  width: 100%;
  height: 44px;
  margin-bottom: 10px;
  color: #FDFCFB;
  background-color: #2f4157;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 10px;
  margin-top: 20px;
}
.modal-container .modal-content .modal-button:hover {
  background-color: #c00c39;
}
.modal-container .modal-content .modal-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FDFCFB;
}
.modal-container .modal-content .modal-button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .modal-container {
    position: fixed;
    width: 100% !important;
  }
  .modal-container .modal-content {
    border-radius: 30px !important;
    width: 350px !important;
    height: 400px !important;
  }
}
.admin-login-container {
  position: relative;
  background: url("/src/assets/admin-background.jpg") no-repeat center center fixed;
}
.admin-login-container .admin-header {
  position: relative;
  top: -111px;
  height: 111px;
  background: url("/src/assets/admin-background.jpg") no-repeat center center fixed;
}
.admin-login-container .admin-login-wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.admin-login-container .loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  background-color: rgba(212, 154, 219, 0.6784313725);
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  margin-inline: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.459);
}
.admin-login-container .loginForm .loginButton {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 150px;
  background-color: #ef9ef1;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.admin-login-container .loginForm .loginButton:hover {
  background-color: #ff006a;
}
.admin-login-container .inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.admin-login-container .inputField:focus {
  border-color: #ff0037;
  outline: none;
}
.admin-login-container .passwordToggle {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  top: 147px;
  right: 30px;
  font-size: 22px;
  color: rgba(98, 98, 99, 0.6784313725);
  width: 100px;
}
@media (max-width: 768px) {
  .admin-login-container .admin-header {
    top: -200px;
    height: 200px;
  }
  .admin-login-container .admin-login-wrapper {
    height: auto;
  }
  .admin-login-container .loginForm {
    margin-top: 10px;
    height: 250px;
    margin-bottom: 200px;
  }
}

.admin-control-panel-container {
  position: relative;
  background: url("/src/assets/admin-background.jpg") no-repeat center center fixed;
}
.admin-control-panel-container .admin-control-panel-header {
  position: relative;
  top: -111px;
  height: 111px;
  background: url("/src/assets/admin-background.jpg") no-repeat center center fixed;
}
.admin-control-panel-container .admin-control-panel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 512px;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-title {
  font-family: "Bodoni Moda", sans-serif;
  font-weight: 0;
  font-size: 40px;
  margin-bottom: 18px;
  text-align: center;
  color: #2f4157;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-create-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 30px;
  margin-bottom: 25px;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-create-icon-container .admin-control-panel-create-icon-title {
  font-size: 16px;
  font-weight: bold;
  color: #2f4157;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-create-icon-container .admin-control-panel-create-icon {
  padding-bottom: 20px;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-create-icon-container .admin-control-panel-create-icon:hover {
  animation: jump 0.5s both linear alternate infinite;
  cursor: pointer;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-create-icon-container .admin-control-panel-create-icon:active {
  animation: pushed 0.3s ease-in-out both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-create-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 39px;
  margin-bottom: 42px;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-items .admin-control-panel-item {
  position: relative;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid transparent;
  color: #000;
  cursor: pointer;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-items .admin-control-panel-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6%;
  width: 100%;
  height: 2px;
  background-color: #c00c39;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-list-container .admin-control-panel-items .admin-control-panel-item:hover::after {
  transform: translateX(-50%) scaleX(1);
  cursor: pointer;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
  margin-bottom: 150px;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-chosen-dessert {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 223, 238, 0.6705882353);
  padding: 20px;
  border-radius: 30px;
  width: 300px;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-chosen-dessert .admin-control-panel-chosen-dessert-image {
  margin-top: 10px;
  margin-bottom: 10px;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-chosen-dessert .admin-control-panel-edit-icon-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 10px;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-chosen-dessert .admin-control-panel-edit-icon-container .admin-control-panel-delete-container {
  text-align: center;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-chosen-dessert .admin-control-panel-edit-icon-container .admin-control-panel-delete-text {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #2f4157 !important;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-chosen-dessert .admin-control-panel-textarea {
  border: none;
  width: 99%;
  height: 100px;
  resize: none;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-chosen-dessert .admin-control-panel-textarea:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #c00c39;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-edit-icon-delete:hover {
  cursor: pointer;
  animation: shake-horizontal-del 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-edit-icon-delete:active {
  animation: pushed 0.3s ease-in-out both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-edit-icon:hover:hover {
  cursor: pointer;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.admin-control-panel-container .admin-control-panel-wrapper .admin-control-panel-chosen-desserts-container .admin-control-panel-edit-icon:hover:active {
  animation: pushed 0.3s ease-in-out both;
}

.admin-control-panel-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  font-size: 40px;
  color: #2f4157;
  height: 100vh;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  30% {
    transform: translate3d(0, -7px, 0) scale3d(1.1, 0.9, 1);
  }
  50% {
    transform: translate3d(0, -12px, 0) scale3d(0.9, 1.1, 1);
  }
  70% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.95, 1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake-horizontal-del {
  0%, 100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  10% {
    transform: translateX(-2px);
  }
  20%, 40%, 60% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  60% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
}
@keyframes pushed {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 768px) {
  .admin-control-panel-header {
    top: -200px !important;
    height: 200px !important;
  }
}
@media screen and (max-width: 520px) {
  .admin-control-panel-list-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 360px) {
  .admin-control-panel-chosen-dessert {
    margin: 5px;
    width: 100% !important;
  }
}
.not-found-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "inglobal", sans-serif;
  background-color: #fef3f8;
  color: #2f4157;
  padding: 20px;
  text-align: center;
}
.not-found-container .not-found-header-color {
  position: absolute;
  top: -111px;
  background-color: #fef3f8;
  width: 100%;
  height: 111px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.not-found-container .not-found-hr {
  border: none;
  border-top: 2px solid #412540;
  width: 60%;
  margin: 20px 0;
}
.not-found-container h1 {
  font-family: "inglobal-bold", sans-serif;
  font-size: 4rem;
  margin-bottom: 15px;
  color: #412540;
}
.not-found-container p {
  font-family: "inglobal", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 25px;
  line-height: 1.6;
}
.not-found-container a {
  font-family: "inglobal-bold", sans-serif;
  font-size: 1.2rem;
  color: #c00c39;
  background-color: #FDFCFB;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  transition: background-color 0.2s;
}
.not-found-container a:hover {
  background-color: #2f4157;
  color: #FDFCFB;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .not-found-header-color {
    top: -200px !important;
    height: 200px !important;
  }
  h1 {
    font-size: 3rem !important;
  }
}
.private-content-container {
  position: relative;
  background: url("/src/assets/locked-page3.jpg") no-repeat center center fixed;
}
.private-content-container .private-content-header {
  position: relative;
  top: -70px;
  height: 70px;
  background: url("/src/assets/locked-page3.jpg") no-repeat center center fixed;
}

@media screen and (max-width: 768px) {
  .private-content-header {
    top: -200px !important;
    height: 200px !important;
  }
}
.page-builder-wrapper {
  display: flex;
  flex-direction: column;
  cursor: default;
}
.page-builder-wrapper .page-builder-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #412540;
  background-color: #FDFCFB;
  padding-inline: 60px;
}
.page-builder-wrapper .page-builder-container .page-builder-header {
  position: absolute;
  top: -111px;
  background-color: #fef3f8;
  width: 100%;
  height: 111px;
  border-radius: 0 0 20px 20px;
  height: 111px;
}
.page-builder-wrapper .page-builder-container .page-builder-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding-top: 42px;
  font-size: clamp(14px, 1.4vw, 18px);
  flex-wrap: wrap;
}
.page-builder-wrapper .page-builder-container .page-builder-title {
  font-family: "inglobal-bold", sans-serif;
  font-weight: 700;
  font-size: clamp(27px, 4.3vw, 55px) !important;
  text-align: center;
  line-height: 110%;
  text-transform: uppercase;
  color: #412540;
  padding-block: 46px;
}
.page-builder-wrapper .page-builder-container .page-builder-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  border-radius: 20px;
  background: #fef3f8;
  padding-inline: 33px;
  box-sizing: border-box;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-info-card-title {
  font-family: "inglobal-bold", sans-serif;
  font-weight: 700;
  font-size: clamp(22px, 2.35vw, 30px);
  color: #412540;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  padding-top: 46px;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-info-card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 23px;
  padding-left: 70px;
  padding-right: 30px;
  margin-bottom: 60px;
  counter-reset: li;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-info-card-list .page-builder-info-card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 8px;
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-info-card-list .page-builder-info-card-list-item::before {
  counter-increment: li;
  content: counter(li);
  position: absolute;
  top: 50%;
  left: -70px;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "inglobal-bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  border: 2px solid #412540;
  text-transform: uppercase;
  text-align: center;
  background-color: #FDFCFB;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-info-card-list .page-builder-info-card-list-item:hover {
  transform: scale(1.05);
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-info-card-list .page-builder-info-card-list-item .page-builder-info-card-list-item-title {
  font-family: "inglobal-bold", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 100%;
  text-transform: uppercase;
  color: #412540;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-info-card-list .page-builder-info-card-list-item .page-builder-info-card-list-item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-extra-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-block: 32px;
  gap: 18px;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-extra-info-container .page-builder-extra-info-text {
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-extra-info-container .page-builder-extra-info-text::before {
  content: "* ";
  font-family: "Open Sans", sans-serif;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-bottom-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-bottom-info-container .page-builder-bottom-info-list-detail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  margin-top: 10px;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-bottom-info-container .page-builder-bottom-info-list-detail .page-builder-bottom-info-list-detail-item {
  position: relative;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-bottom-info-container .page-builder-bottom-info-list-detail .page-builder-bottom-info-list-detail-item:before {
  position: absolute;
  content: "";
  top: 35%;
  left: -15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #412540;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-bottom-info-container .page-builder-price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-info-card .page-builder-bottom-info-container .page-builder-price {
  font-family: "inglobal-bold", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  color: #412540;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-images-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  box-sizing: border-box;
}
.page-builder-wrapper .page-builder-container .page-builder-content .page-builder-images-card .page-builder-images-item {
  border-radius: 20px;
  object-fit: cover;
}
.page-builder-wrapper .page-builder-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("/src/assets/Footer/Footer_background.jpg") no-repeat;
  background-size: cover;
  height: 462px;
  width: 100%;
}
.page-builder-wrapper .page-builder-footer .page-builder-footer-tittle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 21px;
  margin-top: 65px;
}
.page-builder-wrapper .page-builder-footer .page-builder-footer-tittle-container .page-builder-footer-tittle-text {
  position: relative;
  font-size: 1.3rem;
  line-height: 120%;
  cursor: default;
}
.page-builder-wrapper .page-builder-footer .page-builder-footer-tittle-container .page-builder-footer-tittle-text::before {
  position: absolute;
  content: "";
  width: 105px;
  height: 29px;
  bottom: -35px;
  right: -60px;
  background: url("/src/assets/Footer/arrow.svg") no-repeat center;
}
.page-builder-wrapper .page-builder-footer .page-builder-footer-tittle-container .page-builder-footer-tittle-text:hover {
  filter: brightness(50%) saturate(800%) hue-rotate(380deg);
  animation: swing 0.6s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.page-builder-wrapper .page-builder-footer .mobile-title {
  display: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.page-builder-wrapper .page-builder-footer .page-builder-footer-logo {
  width: 150px;
}
.page-builder-wrapper .page-builder-footer .page-builder-footer-social {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 62px;
}
.page-builder-wrapper .page-builder-footer .page-builder-footer-social img:hover {
  transform: perspective(1000px) rotateY(360deg);
  transition: 0.5s all ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 1200px) {
  .page-builder-content {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}
@media screen and (max-width: 768px) {
  .page-builder-header {
    top: -200px !important;
    height: 200px !important;
  }
  .page-builder-nav-list {
    width: 100% !important;
  }
}
@media screen and (max-width: 700px) {
  .page-builder-info-card {
    background-color: #FDFCFB !important;
  }
  .page-builder-info-card .page-builder-extra-info-container {
    padding: 0 !important;
  }
  .page-builder-info-card .page-builder-info-card-list {
    padding: 0 !important;
    gap: 50px !important;
    margin-bottom: 30px !important;
  }
  .page-builder-info-card .page-builder-info-card-list .page-builder-info-card-list-item {
    align-items: center !important;
    border-radius: 20px;
    background-color: #fef3f8;
    padding-block: 30px;
    padding-inline: 10px;
    height: 150px;
  }
  .page-builder-info-card .page-builder-info-card-list .page-builder-info-card-list-item::before {
    top: 0 !important;
    left: 50% !important;
    translate: -50% 0;
  }
  .page-builder-images-card {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: unset;
  }
  .page-builder-images-card .page-builder-images-item {
    display: none;
  }
  .page-builder-bottom-info-container {
    flex-direction: column !important;
    gap: 30px;
    margin-bottom: 0 !important;
  }
  .page-builder-footer {
    gap: 44px;
    height: 100% !important;
  }
  .page-builder-footer .page-builder-footer-tittle-container {
    flex-direction: column !important;
    align-items: flex-end;
    margin-top: 30px !important;
  }
  .page-builder-footer .page-builder-footer-tittle-container .page-builder-footer-tittle-text::before {
    left: 20%;
    width: 65px !important;
    height: 15px !important;
    background-size: contain !important;
    rotate: 45deg;
  }
  .page-builder-footer .mobile-title {
    display: unset !important;
    padding-inline: 30px;
  }
}
.slider-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image img {
  max-width: 100%;
  border-radius: 10px;
  animation: fade-in 0.5s ease-in-out;
}

.slider-controls {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.slider-button {
  background-color: transparent;
  width: 20px;
  height: 100px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.slider-indicators {
  display: flex;
  margin: 0 10px;
}

.slider-dot {
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FDFCFB;
  border: 1px solid #412540;
  padding: 0;
  margin: 0 4px;
  cursor: pointer;
}

.slider-dot.activeDot {
  background: #412540;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 700px) {
  .slider-container {
    display: flex;
    width: 100vw;
  }
  .slider-image img {
    width: 100%;
  }
}
.how-to-order-container {
  position: relative;
  top: -141px;
  background-color: #fff;
  padding-inline: 60px;
  padding-top: 68px;
  padding-bottom: 75px;
}
.how-to-order-container .how-to-order-container-tittle {
  font-size: clamp(22px, 2.35vw, 30px);
  line-height: 100%;
  padding-bottom: 85px;
  text-transform: uppercase;
  text-align: center;
  color: #412540;
}
.how-to-order-container .how-to-order-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container {
  display: flex;
  flex-direction: column;
  gap: 63px;
  width: 100%;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-top-container .how-to-order-info-step-1 {
  position: relative;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-top-container .how-to-order-info-step-1::before {
  content: "1";
  position: absolute;
  top: -21%;
  left: 50%;
  translate: -50% 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "inglobal-bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  border: 2px solid #412540;
  text-transform: uppercase;
  text-align: center;
  background-color: #FDFCFB;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-top-container .how-to-order-info-step-2 {
  position: relative;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-top-container .how-to-order-info-step-2::before {
  content: "2";
  position: absolute;
  top: -21%;
  left: 50%;
  translate: -50% 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "inglobal-bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  border: 2px solid #412540;
  text-transform: uppercase;
  text-align: center;
  background-color: #FDFCFB;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-bottom-container .how-to-order-info-step-3 {
  position: relative;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-bottom-container .how-to-order-info-step-3::before {
  content: "3";
  position: absolute;
  top: -21%;
  left: 50%;
  translate: -50% 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "inglobal-bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  border: 2px solid #412540;
  text-transform: uppercase;
  text-align: center;
  background-color: #FDFCFB;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-bottom-container .how-to-order-info-step-4 {
  position: relative;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-left-side .how-to-order-info-left-side-container .how-to-order-info-bottom-container .how-to-order-info-step-4::before {
  content: "4";
  position: absolute;
  top: -21%;
  left: 50%;
  translate: -50% 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "inglobal-bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  border: 2px solid #412540;
  text-transform: uppercase;
  text-align: center;
  background-color: #FDFCFB;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-right-side .how-to-order-info-right-side-info-container-step-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #fef3f8;
  border-radius: 20px;
  gap: 18px;
  box-sizing: border-box;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-right-side .how-to-order-info-right-side-info-container-step-5::before {
  content: "5";
  position: absolute;
  top: -10%;
  left: 50%;
  translate: -50% 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: "inglobal-bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  border: 2px solid #412540;
  text-transform: uppercase;
  text-align: center;
  background-color: #FDFCFB;
}
.how-to-order-container .how-to-order-info-wrapper .how-to-order-info-right-side .how-to-order-info-right-side-info-container-step-5 p {
  font-size: 14px;
}

@media screen and (max-width: 1230px) {
  .how-to-order-info-wrapper {
    flex-direction: column !important;
  }
  .how-to-order-info-wrapper .how-to-order-info-left-side {
    flex-direction: column-reverse !important;
    align-items: center !important;
    padding-bottom: 50px;
  }
  .how-to-order-info-wrapper .how-to-order-info-left-side img {
    width: 80%;
    padding-bottom: 50px;
  }
  .how-to-order-info-wrapper .how-to-order-info-right-side {
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
  .how-to-order-info-wrapper .how-to-order-info-right-side img {
    width: 80%;
    padding-top: 50px;
  }
  .how-to-order-info-wrapper .how-to-order-info-right-side .how-to-order-info-right-side-info-container-step-5 {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .how-to-order-container {
    padding: 30px;
  }
  .how-to-order-container .how-to-order-info-wrapper {
    gap: 0;
  }
  .how-to-order-container .how-to-order-container-tittle {
    padding-bottom: 40px;
  }
  .how-to-order-container .how-to-order-info-left-side {
    flex-direction: column-reverse !important;
    align-items: center !important;
    padding-bottom: 50px;
  }
  .how-to-order-container .how-to-order-info-left-side img {
    width: 100% !important;
    padding-bottom: 50px;
  }
  .how-to-order-container .how-to-order-info-left-side .how-to-order-info-top-container {
    flex-direction: column !important;
    gap: 50px !important;
  }
  .how-to-order-container .how-to-order-info-left-side .how-to-order-info-top-container .how-to-order-info-step-1::before {
    top: -16% !important;
    width: 36px !important;
    height: 36px !important;
  }
  .how-to-order-container .how-to-order-info-left-side .how-to-order-info-top-container .how-to-order-info-step-2::before {
    top: -16% !important;
    width: 36px !important;
    height: 36px !important;
  }
  .how-to-order-container .how-to-order-info-left-side .how-to-order-info-bottom-container {
    flex-direction: column !important;
    gap: 50px !important;
  }
  .how-to-order-container .how-to-order-info-left-side .how-to-order-info-bottom-container .how-to-order-info-step-3::before {
    top: -16% !important;
    width: 36px !important;
    height: 36px !important;
  }
  .how-to-order-container .how-to-order-info-left-side .how-to-order-info-bottom-container .how-to-order-info-step-4::before {
    top: -16% !important;
    width: 36px !important;
    height: 36px !important;
  }
  .how-to-order-container .how-to-order-info-right-side {
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
  .how-to-order-container .how-to-order-info-right-side img {
    width: 100% !important;
    padding-top: 50px;
  }
  .how-to-order-container .how-to-order-info-right-side .how-to-order-info-right-side-info-container-step-5 {
    width: 100% !important;
  }
  .how-to-order-container .how-to-order-info-right-side .how-to-order-info-right-side-info-container-step-5::before {
    top: -5% !important;
    width: 36px !important;
    height: 36px !important;
  }
}
.about-container {
  position: relative;
  top: -141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef3f8;
  padding-top: 58px;
  padding-bottom: 60px;
  padding-inline: 60px;
}
.about-container .about-tittle {
  font-size: clamp(22px, 2.35vw, 30px);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 25px;
}
.about-container .about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.about-container .about-content .about-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
.about-container .about-content .about-content-wrapper .about-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 490px;
  box-sizing: border-box;
}
.about-container .about-content .about-content-wrapper .about-text-container p {
  font-size: 14px;
  line-height: 120%;
}
.about-container .about-content .about-content-wrapper .about-text-container .about-text-last-tittle {
  font-family: "inglobal-bold", sans-serif;
  font-size: 21px;
  line-height: 100%;
}
.about-container .about-content .about-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.about-container .about-content .about-image-container .about-image-cake-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.about-container .about-content .about-image-container .about-image-cake-container a {
  padding-top: 15px;
}
.about-container .about-content .about-image-container .about-image-cake-container a button {
  background-color: #FFF;
}

@media screen and (min-width: 1300px) {
  .about-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
  }
}
@media screen and (max-width: 1000px) {
  .about-content {
    flex-direction: column !important;
  }
  .about-content-wrapper {
    flex-direction: column-reverse !important;
    align-items: center;
  }
  .about-content-wrapper .about-text-container {
    width: 100% !important;
  }
  .about-image-container {
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .about-container {
    padding: 40px 30px !important;
  }
}
.main-footer-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url("/src/assets/Footer/Footer_background.jpg") no-repeat;
  background-size: cover;
  margin-top: -141px;
  padding: 60px;
  gap: 30px;
}
.main-footer-footer .main-footer-footer-tittle {
  font-size: clamp(22px, 2.35vw, 30px);
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
}
.main-footer-footer .main-footer-footer-logo {
  width: 150px;
}
.main-footer-footer .main-footer-footer-social {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.main-footer-footer .main-footer-footer-social img:hover {
  transform: perspective(1000px) rotateY(360deg);
  transition: 0.5s all ease-in-out;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 700px) {
  .main-footer-footer {
    gap: 44px;
    height: 100% !important;
  }
  .main-footer-footer .main-footer-footer-tittle-container {
    flex-direction: column !important;
    align-items: flex-end;
    margin-top: 30px !important;
  }
  .main-footer-footer .main-footer-footer-tittle-container .main-footer-footer-tittle-text::before {
    left: 20%;
    width: 65px !important;
    height: 15px !important;
    background-size: contain !important;
    rotate: 45deg;
  }
  .main-footer-footer .mobile-title {
    display: unset !important;
    padding-inline: 30px;
  }
}
.feedback-container {
  position: relative;
  top: -141px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-inline: 60px;
  color: #412540;
}
.feedback-container .feedback-container-title {
  font-size: clamp(22px, 2.35vw, 30px);
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
.feedback-container .feedback-container-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (max-width: 700px) {
  .feedback-container-content-item {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
