@use "../../variables" as *;

.page-builder-wrapper {
  display: flex;
  flex-direction: column;
  cursor: default;

  .page-builder-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $main-text-color;
    background-color: $light;
    padding-inline: 60px;

    .page-builder-header {
      position: absolute;
      top: -111px;
      background-color: $main-color;
      width: 100%;
      height: 111px;
      border-radius: 0 0 20px 20px;
      height: 111px;
    }

    .page-builder-nav-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      padding-top: 42px;
      font-size: clamp(14px, 1.40vw, 18px);
      flex-wrap: wrap;

      
    }

    .page-builder-title {
      font-family: $font-family-bold;
      font-weight: 700;
      font-size: clamp(27px, 4.3vw, 55px) !important;
      text-align: center;
      line-height: 110%;
      text-transform: uppercase;
      color: #412540;
      padding-block: 46px;
    }

    .page-builder-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 44px;

      .page-builder-info-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        border-radius: 20px;
        background: $main-color;
        padding-inline: 33px;
        box-sizing: border-box;

        .page-builder-info-card-title {
          font-family: $font-family-bold;
          font-weight: 700;
          font-size: clamp(22px, 2.35vw, 30px);
          color: $main-text-color;
          line-height: 120%;
          text-transform: uppercase;
          text-align: center;
          padding-top: 46px;
        }

        .page-builder-info-card-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 23px;
          padding-left: 70px;
          padding-right: 30px;
          margin-bottom: 60px;
          counter-reset: li;

          .page-builder-info-card-list-item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            width: 100%;
            gap: 8px;
            box-sizing: border-box;
            transition: 0.3s all ease-in-out;

            &::before {
              counter-increment: li;
              content: counter(li);
              position: absolute;
              top: 50%;
              left: -70px;
              transform: translateY(-50%);
              width: 46px;
              height: 46px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 700;
              font-family: $font-family-bold;
              font-size: 30px;
              line-height: 100%;
              border: 2px solid $main-text-color;
              text-transform: uppercase;
              text-align: center;
              background-color: $light;
            }
            &:hover {
              transform: scale(1.05);
            }

            .page-builder-info-card-list-item-title {
              font-family: $font-family-bold;
              font-weight: 700;
              font-size: 21px;
              line-height: 100%;
              text-transform: uppercase;
              color: $main-text-color;
            }

            .page-builder-info-card-list-item-description {
              font-weight: 400;
              font-size: 14px;
              line-height: 120%;
            }
          }
        }

        .page-builder-extra-info-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding-block: 32px;
          gap: 18px;

          .page-builder-extra-info-text {
            font-size: 14px;
            line-height: 120%;
            font-weight: 500;

            &::before {
              content: "* ";
              font-family: $second-family;
            }
          }
        }

        .page-builder-bottom-info-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 40px;

          .page-builder-bottom-info-list-detail {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.9;
            margin-top: 10px;

            .page-builder-bottom-info-list-detail-item {
              position: relative;

              &:before {
                position: absolute;
                content: "";
                top: 35%;
                left: -15px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                border: 1px solid $main-text-color;
              }
            }
          }
          .page-builder-price-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .page-builder-price {
            font-family: $font-family-bold;
            font-weight: 700;
            font-size: 21px;
            line-height: 120%;
            color: $main-text-color;
          }
        }
      }

      .page-builder-images-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        box-sizing: border-box;
        // background-color: #412540;

        .page-builder-images-item {
          border-radius: 20px;
          object-fit: cover;
        }
      }
    }
  }
  .page-builder-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("/src/assets/Footer/Footer_background.jpg") no-repeat;
    background-size: cover;
    height: 462px;
    width: 100%;

    .page-builder-footer-tittle-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 21px;
      margin-top: 65px;

      .page-builder-footer-tittle-text {
        position: relative;
        font-size: 1.3rem;
        line-height: 120%;
        cursor: default;

        &::before {
          position: absolute;
          content: "";
          width: 105px;
          height: 29px;
          bottom: -35px;
          right: -60px;
          background: url("/src/assets/Footer/arrow.svg") no-repeat center;
        }

        &:hover {
          filter: brightness(50%) saturate(800%) hue-rotate(380deg);

          animation: swing 0.6s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
      }
    }
    .mobile-title {
      display: none;
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
    }

    .page-builder-footer-logo {
      width: 150px;
    }
    .page-builder-footer-social {
      display: flex;
      flex-direction: row;
      gap: 40px;
      margin-bottom: 62px;

      img:hover {
        transform: perspective(1000px) rotateY(360deg);
        transition: 0.5s all ease-in-out;
      }
    }
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1200px) {
  .page-builder-content {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 768px) {
  .page-builder-header {
    // top: -200px !important;
    // height: 200px !important;
    top: -65px !important;
    height: 65px !important;
  }

  .page-builder-nav-list {
    width: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .page-builder-info-card {
    background-color: $light !important;

    .page-builder-extra-info-container {
      padding: 0 !important;
    }

    .page-builder-info-card-list {
      padding: 0 !important;
      gap: 50px !important;
      margin-bottom: 30px !important;

      .page-builder-info-card-list-item {
        align-items: center !important;
        border-radius: 20px;
        background-color: $main-color;
        padding-block: 30px;
        padding-inline: 10px;
        height: 150px;

        &::before {
          top: 0 !important;
          left: 50% !important;
          translate: -50% 0;
        }
      }
    }
  }

  .page-builder-images-card {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: unset;

    .page-builder-images-item {
      display: none;
    }
  }

  .page-builder-bottom-info-container {
    flex-direction: column !important;
    gap: 30px;
    margin-bottom: 0 !important;
  }

  .page-builder-footer {
    gap: 44px;
    height: 100% !important;

    .page-builder-footer-tittle-container {
      flex-direction: column !important;
      align-items: flex-end;
      margin-top: 30px !important;

      .page-builder-footer-tittle-text::before {
        left: 20%;
        width: 65px !important;
        height: 15px !important;
        background-size: contain !important;
        rotate: 45deg;
      }
    }

    .mobile-title {
      display: unset !important;
      padding-inline: 30px;
    }
  }
}
