rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /cakes/{cakeId} {
      allow read: if true; // Разрешить чтение для всех
    }
    
    match /bento/{bentoId} {
      allow read: if true; // Разрешить чтение для всех
    }

		 match /cupcake/{cupcakeId} {
      allow read: if true; // Разрешить чтение для всех
    }
  }
}
