.admin-control-panel-container {
    position: relative;
  //   top: -70px;
    background: url("/src/assets/admin-background.jpg") no-repeat center center
      fixed;
  
      .admin-control-panel-header{
          position: relative;
            top: -70px;
            height: 70px;
          background: url("/src/assets/admin-background.jpg") no-repeat center center
          fixed;
      }

      .admin-control-panel-wrapper{
        height: 60vh;
        display: flex;
        justify-content: center;
        // align-items: center;

      }
    }