@use "../variables" as *;
.admin-control-panel-container {
  position: relative;
  background: url("/src/assets/admin-background.jpg") no-repeat center center
    fixed;

  .admin-control-panel-header {
    position: relative;
    top: -70px;
    height: 70px;
    background: url("/src/assets/admin-background.jpg") no-repeat center center
      fixed;
  }

  .admin-control-panel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .admin-control-panel-list-container {
      position: static;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 512px;

      .admin-control-panel-title {
        font-family: "Bodoni Moda", sans-serif;
        font-weight: 00;
        font-size: 40px;
        margin-bottom: 18px;
        text-align: center;
        color: $navy-blue;
      }

      .admin-control-panel-create-icon-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 250px;
        height: 30px;
        margin-bottom: 42px;

        .admin-control-panel-create-icon-title {
          font-size: 16px;
          font-weight: bold;
          color: $navy-blue;
        }

        .admin-control-panel-create-icon {
          &:hover {
            animation: jump 0.5s both linear alternate infinite;
            cursor: pointer;
          }
          &:active {
            animation: pushed 0.3s ease-in-out both;
          }
        }
      }

      .admin-control-panel-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 39px;
        margin-bottom: 42px;

        .admin-control-panel-item {
          position: relative;
          padding: 10px;
          font-size: 16px;
          font-weight: bold;
          text-align: center;
          border: 2px solid transparent;
          color: #000;
          cursor: pointer;
        }

        .admin-control-panel-item::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -6%;
          width: 100%;
          height: 2px;
          background-color: $red-accent;

          transform: translateX(-50%) scaleX(0);
          transition: transform 0.3s ease;
        }

        .admin-control-panel-item:hover::after {
          transform: translateX(-50%) scaleX(1);
          cursor: pointer;
        }
      }
    }

    .admin-control-panel-chosen-desserts-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      box-sizing: border-box;
      gap: 40px;
      margin-bottom: 150px;

      .admin-control-panel-chosen-dessert {
        display: flex;
        flex-direction: column;
        background-color: #ffdfeeab;
        padding: 20px;
        border-radius: 30px;
        width: 300px;

        .admin-control-panel-chosen-dessert-image {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .admin-control-panel-edit-icon-container {
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
          padding-top: 10px;

        }
        .admin-control-panel-save-button {
          border: none;
          margin-right: 10px;
          background-color: $navy-blue;
          border-radius: 30px;
          padding: 5px 10px;
          color: $light;
          cursor: pointer;
          
          &:hover {
            background-color: $red-accent;
            // color: $red-accent;
          }
        }

        .admin-control-panel-cancel-button {
          border: none;
          background-color: $red-accent;
          border-radius: 30px;
          padding: 5px 10px;
          color: $light;
          cursor: pointer;

          &:hover {
            background-color: $navy-blue;
          }
        }

        .admin-control-panel-textarea {
          border: none;
          width: 99%;
          height: 100px;
          resize: none;

          &:focus {
            outline: none;
            box-shadow: 0 0 1px 1px $red-accent;
          }
        }
      }

      animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

      .admin-control-panel-edit-icon-delete {
        &:hover {
          cursor: pointer;

          animation: shake-horizontal-del 0.8s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }

        &:active {
          animation: pushed 0.3s ease-in-out both;
        }
      }

      .admin-control-panel-edit-icon:hover {
        &:hover {
          cursor: pointer;

          animation: shake-horizontal 0.8s
            cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }

        &:active {
          animation: pushed 0.3s ease-in-out both;
        }
      }
    }
  }
}
.admin-control-panel-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  font-size: 40px;
  color: $navy-blue;
  height: 100vh;
}

@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  30% {
    transform: translate3d(0, -7px, 0) scale3d(1.1, 0.9, 1);
  }
  50% {
    transform: translate3d(0, -12px, 0) scale3d(0.9, 1.1, 1);
  }
  70% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.95, 1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake-horizontal-del {
  0%,
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  10% {
    transform: translateX(-2px);
  }
  20%,
  40%,
  60% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
    transform-origin: 50% 50%;
  }
  // 10% {
  //   transform: translateX(-2px);
  // }
  // 20%,
  // 40%,
  60% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
}

@keyframes pushed {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 768px) {
  .admin-control-panel-header {
    top: -200px !important;
    height: 200px !important;
  }
}
@media screen and (max-width: 520px) {
  .admin-control-panel-list-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 360px) {
  .admin-control-panel-chosen-dessert {
    margin: 5px;
    width: 100% !important;
  }
}
