@use "../variables" as *;
.cake-card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 565px;
  width: 100%;
  height: 355px;
  background-color: $light;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    z-index: 2;
  }

  img {
    width: 50%;
    object-fit: cover;
  }

  .cake-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 29px;
    .cake-card-title {
      font-weight: 700;
      font-size: 21px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      color: $main-text-color;
    }

    .cake-card-description {
      width: 249px;
      font-weight: 400;
      font-size: 14px;
      line-height: 2.9;
      text-align: center;
      color: $main-text-color;
    }

    .cake-card-price {
      font-family: $font-family-bold;
      font-weight: 700;
      font-size: 21px;
      line-height: 100%;
      text-align: center;
      color: $main-text-color;
    }

    .cake-card-buttons {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 28px;

      // .cake-card-more-button {
      //   width: 140px;
      //   height: 40px;
      //   font-size: 16px;
      //   border: 2px solid $main-color;
      //   border-radius: 23px;
      //   background-color: transparent;

      //   &:hover {
      //     cursor: pointer;
      //     background-color: $main-color;
      //   }
      // }

      // .cake-card-order-button {
      //   width: 140px;
      //   height: 40px;
      //   font-size: 16px;
      //   border: 2px solid $main-color;
      //   border-radius: 23px;
      //   background-color: $main-color;

      //   &:hover {
      //     cursor: pointer;
      //     background-color: transparent;
      //   }
      // }
    }
  }
}

@media screen and (max-width: 600px) {
  .cake-card-container {
    flex-direction: column;
    height: 100%;

    &:hover {
      transform: none;
    }

    img {
      width: 100%;
      height: 50%;
    }

    .cake-card-price {
      margin-bottom: 26px;
    }
  }
}

@media screen and (max-width: 400px) {
  .cake-card-container {
    flex-direction: column;
    height: 100%;

    img {
      width: 100%;
      height: 200px;
    }

    .cake-card-description {
      padding-inline: 5px !important;
      width: 100% !important;
    }
  }
}
