@use "../variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
.catalog-container {
  position: relative;
  top: -141px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fef3f8;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-inline: 60px;

  .catalog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 472px;

    .catalog-list-title {
      font-family: $font-family-bold;
      font-weight: 700;
      font-size: clamp(20px, 2.35vw, 30px);
      line-height: 120%;
      text-transform: uppercase;
      text-align: center;
      color: #412540;
      margin-bottom: 60px;
    }

  }

  .catalog-cards-container {
   display: flex;
   flex-direction: column;
    // background-color: #412540;
    width: 100%;
    gap: 30px;

    .catalog-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: 32px;
      row-gap: 30px;
      width: 100%;
      // background-color: aquamarine;
    }

    .catalog-cards-top {
      position: relative;
    }
  }
  .catalog-top-seller-title {
    position: absolute;
    z-index: 2;
    top: -38px;
    left: 42%;
    font-family: "Bodoni Moda", sans-serif;
    text-align: left;
    color: $red-accent;
    font-weight: bold;
    font-size: 20px;
    align-self: end;
  }
}

@media screen and (max-width: 1200px) {
  .catalog-container {
    padding-inline: 30px !important;
  .catalog-cards-container {
    padding: 15px;
    column-gap: 15px !important;
    row-gap: 15px !important;

    .catalog-cards {
      column-gap: 15px !important;
      row-gap: 15px !important;
    }
  }

}
}

@media screen and (max-width: 1100px) {
  .catalog-cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }


}
@media (max-width: 768px) {
  .catalog-container {
    margin-top: -170px;

    .catalog-list-title {
      margin-bottom: 30px !important;
    }
  }
  .catalog-cards-container {
    display: flex ;
    flex-direction: column ;

    .catalog-cards-top {
      margin-top: 40px;
    }
  }
}
@media (max-width: 550px) {
  .catalog-list {
    width: 100% !important;

    .catalog-list-items {
      flex-direction: column;
    }
  }

  .catalog-cards-container {
    // margin-top: 70px;

    .catalog-list-item .active {
      width: 60% !important;
    }
  }
}
