@use "../variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
.main {
  position: relative;
  display: flex;
  top: -70px;
  flex-direction: column;
  align-items: center;
  height: 1200px;
  gap: 310px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("/src/assets/Why-Focal-Length-in-Food-Photogr.jpg")
      no-repeat center;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    background-color: rgba(47, 65, 87, 0.37);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .main-logo {
    padding-top: 50px;
    padding-bottom: 250px;
    width: 40%;
    // position: absolute;
    // top: 30%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }

  .main-button {
    // position: absolute;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: $navy-blue;
    border: 2px solid $navy-blue;
    // padding: 15px 20px;
    width: 154px;
    height: 53px;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: $navy-blue;
      color: #fff;
    }
  }

  .main-description {
    height: 200px;
  }
}

@media screen and (max-width: 1800px) {
  .main-logo {
    padding-bottom: 10px !important;
  }

  .main-button {
    margin-top:  -250px;
  }

}

@media screen and (max-width: 1220px) {
  .main {
    gap: 100px;

    .main-logo {
      margin-top: 20px;
    }

    .main-button {
      margin-top:  0;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    top: -200px;

    .main-logo {
      margin-top: 210px;
    }
  }
}
