@use "../variables" as *;

.main {
  position: relative;
  display: flex;
  top: -111px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 749px;
  padding-inline: 60px;
  background: url("/src/assets/main-background.jpg") no-repeat center;
  background-size: cover;
 
  .main-title-container {
    display: flex;
    flex-direction: column;
    width: 760px;
    font-family: $font-family-bold;
    margin-top: -80px;

    .main-title {
      font-size: 2.74vw;
      text-transform: uppercase;
      color: $main-text-color;
      // line-height: 1.1;
    }
    .main-description {
      font-size: 4.3vw;
      color: $main-text-color;
      font-weight: bold;
      text-transform: uppercase;     
      line-height: 1.1;
    }
    .main-description-text {
      font-size: 1.24vw;
      // line-height: 1.1;
    }
  }
}

@media screen and (max-width: 1800px) {
  .main-logo {
    padding-bottom: 10px !important;
  }

  .main-button {
    margin-top: -250px;
  }
}

@media screen and (max-width: 1280px) {
  .main {

    .main-title-container {
      display: flex;
      flex-direction: column;
      width: 520px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    top: -200px;
    align-items: center;

    .main-logo {
      margin-top: 210px;
    }

    .main-title-container {
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .main-description {
      text-align: center;
      align-items: center;
    }
  }
}
