@use "../variables" as *;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .modal-content {
    position: relative;
    background-color: $main-color;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .modal-title {
      font-size: 20px;
      margin-bottom: 20px;
      color: $navy-blue;
      font-weight: 600;
    }

    .modal-input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
      }
    }

    .modal-form {
        display: flex;
        width: 70%;
        flex-direction: column;
        gap: 10px;

        select {
            width: 97%;
        }

        textarea {
            font-size: 16px;
            resize: none;
        }

        .modal-button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .modal-button {
        width: 100%;
      height: $input-height;
      margin-bottom: 10px;
      color: $light;
      background-color: $navy-blue; 
      border: none;
      border-radius: $br-radius;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s, transform 0.2s; 
      margin-right: 10px;
      margin-top: 20px;
      &:hover {
        background-color: $red-accent;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $light;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .modal-container {
    position: fixed;
    width: 100% !important;
    
    .modal-content {
      border-radius: 30px !important;
      width: 350px !important;
      height: 400px !important;
    }
  }

  
}