@use "../variables" as *;

.slider-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-viewport {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.slider-track {
  display: flex;
  width: 100%;
  will-change: transform;
}

.slide {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

.slider-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.slider-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 28px;
  line-height: 1;
  padding: 12px;
  color: $main-text-color;
  user-select: none;
}

.slider-button.left {
  margin-right: 8px;
  height: 150px;
}
.slider-button.right {
  margin-left: 8px;
  height: 150px;
}

.slider-controls {
  display: flex;
  align-items: center;
  margin-top: 12px;
  width: 100%;
  justify-content: center;
}

.slider-indicators {
  display: flex;
  margin: 0 10px;
}

.slider-dot {
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $light;
  border: 1px solid $main-text-color;
  padding: 0;
  margin: 0 6px;
  cursor: pointer;
}

.slider-dot.activeDot {
  background: $main-text-color;
}

@media screen and (max-width: 700px) {
  .slider-container {
    display: flex;
    width: 100vw;
  }

  .slider-image {
    min-height: 260px;
  }

  .slide img {
    width: 100%;
  }
}
