@use "variables" as *;

body {
  font-family: $font-family-base;
  font-weight: 300;
  line-height: 1.75;
  // background-color: #fef3f8;
  background-color: $light;
  color: $main-text-color;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $navy-blue;
  }

  &::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $red-accent;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: $transition-duration;
  font-family: $font-family-base;
}

a {
  color: $main-text-color;
  text-decoration: none;

  &:hover {
    // color: $button-color;
    color: $red-accent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-bold;
  color: $main-text-color;
}

img {
  display: block;
  max-width: 100%;
}

.save-button {
  border: none;
  margin-right: 10px;
  min-width: 80px;
  background-color: $navy-blue;
  border-radius: 30px;
  padding: 5px 10px;
  color: $light;
  cursor: pointer;

  &:hover {
    background-color: $red-accent;
  }
  &:disabled {
    background-color: gray;
    color: rgba(189, 189, 189, 0.781);
  }
}

.cancel-button {
  border: none;
  background-color: $red-accent;
  border-radius: 30px;
  padding: 5px 10px;
  color: $light;
  cursor: pointer;

  &:hover {
    background-color: $navy-blue;
  }
}

.more-button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: 2px solid $button-color;
  border-radius: 23px;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: $button-color;
  }
}

.order-button {
  width: 140px;
  height: 40px;
  font-size: 16px;
  border: 2px solid $button-color;
  border-radius: 23px;
  background-color: $button-color;

  &:hover {
    cursor: pointer;
    background-color: transparent;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.input {
  width: calc(100% - 50px);
  height: $input-height;
  padding-inline: 15px;
  color: $red-accent;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: $br-radius;
  margin-bottom: 10px;

  &:hover {
    border-color: $red-accent;
  }

  &:focus {
    outline: none;
    background-color: $light;
    color: $red-accent;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.active {
  border-bottom: 2px solid $red-accent !important;
}

.page-builder-bottom-info-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;

  .page-builder-bottom-info-list-item:not(:first-child) {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 30%;
      left: -12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $main-text-color;
    }
  }
}

.mini-container {
  width: 264px;
  height: 174px;
  padding-inline: 15px;
  padding-block: 20px;
  border: 2px solid $main-color;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 120%;
  h4 {
    font-size: 16px;
    padding-bottom: 12px;
  }
}
.mini-container-fill {
  width: 267px;
  height: 141px;
  padding: 20px;
  background-color: $main-color;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 120%;
  h4 {
    font-size: 16px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 600px) {
  .mini-container {
    width: 100%;
  }
  .mini-container-fill {
    width: 100%;
    }
}
