$main-color: #ffdfee;
$navy-blue:  #2f4157;
$light: #FDFCFB;
$red-accent: #c00c39;

$br-radius: 30px;
$border: 1px solid $light;

$font-family-base:  "Roboto", sans-serif;
$font-family-accent: "Inter", sans-serif;
$third-family: "Bodoni Moda", sans-serif;
$font3: "Allison", sans-serif;

$input-height: 44px;

$container-width: 1300px;
$container-padding-x: 15px;

$transition-duration: 0.2s;

$header-height: 90px;

